 .gif {
     height: 40px;
     margin: -15px;
 }

 .chatContainer {
     margin-left: auto;
     margin-right: auto;
     display: flex;
     width: 100%;
     max-width: 700px;
     margin-bottom: 60px;
     margin-top: 10px;
 }


 .inp {
     padding: 12px 20px;
     font-size: 15px;
     border-radius: 30px;
     flex-grow: 1;
     min-width: 200px;
     box-sizing: border-box;
     color: #fff;
     background-color: rgba(15, 15, 20, 0.9);
     outline: none;

     border: 2px solid transparent;
     background-image:
         linear-gradient(#11151c, #11151c),
         linear-gradient(120deg, #1b1b2f, #2b1a1a, #0b0b0b, #141414, #1b1b2f);
     background-origin: border-box;
     background-clip: padding-box, border-box;
     background-size: 300% 300%;
     animation: borderShift 8s ease infinite;

     transition: all 0.3s ease;
 }

 .inp:focus,
 .inp:hover {
     border: 2px solid #a67c52;
     box-shadow: 0 0 10px rgba(171, 129, 82, 0.3),
         0 0 20px rgba(43, 26, 26, 0.2);
     background-color: rgba(20, 20, 30, 0.95);
 }


 .sub {
     padding: 12px 20px;
     font-size: 15px;
     margin-left: 15px;
     border-radius: 10px;
     cursor: pointer;
     color: #fff;
     background-color: #0f0f14;
     border: 2px solid transparent;

     background-image:
         linear-gradient(#0f0f14, #0f0f14),
         linear-gradient(120deg, #2b1a1a, #1b1b2f, #0b0b0b, #1b1b2f, #2b1a1a);
     background-origin: border-box;
     background-clip: padding-box, border-box;
     background-size: 300% 300%;
     animation: borderShift 8s ease infinite;

     transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s;
 }




 .clear {
     padding: 12px 20px;
     font-size: 15px;
     margin-left: 15px;
     border-radius: 10px;
     cursor: pointer;
     color: #fff;
     border: 2px solid transparent;

     background-color: #121217;
     background-image:
         linear-gradient(#121217, #121217),
         linear-gradient(120deg, #1b1b2f, #2b1a1a, #0b0b0b, #1b1b2f);
     background-origin: border-box;
     background-clip: padding-box, border-box;
     background-size: 300% 300%;
     animation: borderShift 8s ease infinite;

     transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s;
 }

 .clear:hover,
 .sub:hover {
     border: 2px solid #a67c52;

     box-shadow: 0 0 10px rgba(171, 129, 82, 0.3),
         0 0 20px rgba(43, 26, 26, 0.2);
     background-color: rgba(20, 20, 30, 0.95);
     transform: translate(1px, -1px);

     transition: transform 0.2s ease, box-shadow 0.3s ease, background-color 0.3s ease;
 }



 @keyframes borderShift {
     0% {
         background-position: 0% 50%;
     }

     50% {
         background-position: 100% 50%;
     }

     100% {
         background-position: 0% 50%;
     }
 }


 @media (max-width:550px) {
     .chatContainer {
         flex-direction: column;
     }

     .sub,
     .clear {
         max-width: 500px;
         margin-top: 5px;
         margin-right: 15px;
     }
 }