 .user {
     display: flex;
     justify-content: flex-end;
     align-items: start;
 }

 .robot {
     display: flex;
     justify-content: flex-start;
     align-items: start;
 }

 .usrMsg {
     background: linear-gradient(145deg, rgba(245, 245, 245, 0.85), rgba(200, 200, 200, 0.6));
     color: #111;
     box-shadow: 0 0 15px rgba(255, 255, 255, 0.08);
     font-size: 16px;
     border-radius: 5px 25px 5px 5px;
     padding: 12px 15px;
     margin-right: 10px;
     margin-left: 10px;
     margin-bottom: 10px;
     max-width: 300px;
 }

 .rbtMsg {
     background: linear-gradient(145deg, rgba(255, 255, 255, 0.8), rgba(220, 220, 220, 0.6));
     color: #111;
     box-shadow: 0 0 15px rgba(255, 255, 255, 0.08);
     border-radius: 25px 5px 5px 5px;
     padding: 12px 15px;
     margin-right: 10px;
     margin-left: 10px;
     margin-bottom: 10px;
     max-width: 300px;
 }

 .Time {
     display: block;
     margin-top: 2px;
     color: rgba(30, 30, 30, 0.7);
     font-size: 11px;
     /* color: rgba(180, 180, 180, 0.65); */
     font-style: italic;
 }



 img {
     width: 40px;
     border-radius: 50%;
     object-fit: cover;
 }