.Chats {
    /* margin-top: 20px; */
    padding-top: 20px;
}

.msgContainer {
    margin-top: 10px;
    flex-grow: 1;
    overflow: scroll;
    scrollbar-width: none;
    /* border-left: 5px inset #000814; border-right: 5px outset #000814; */
    padding: 20px;
    /* border-radius: 20px; */
    /* border-bottom: 5px inset #000814; border-top: 5px outset #000814; */
    border: 5px outset;
    border-image: linear-gradient(to right, #ff6a00, #ee0979) 1;
    border-radius: 20px;
    background-color: #11151c;
}