.Chats {
    /* margin-top: 20px; */
    padding-top: 20px;
}

.msgContainer {
    margin-top: 10px;
    flex-grow: 1;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 20px;

    border: 4px solid rgba(255, 106, 0, 0.2);
    border-radius: 20px;

    background: linear-gradient(145deg, rgba(30, 20, 20, 0.85), rgba(50, 25, 35, 0.75));
    box-shadow:
        0 0 25px rgba(255, 106, 0, 0.1),
        0 0 35px rgba(238, 9, 121, 0.1),
        inset 0 0 15px rgba(0, 0, 0, 0.5);
}